---
import { getLanguageFromURL } from '~/utils/i18n';

const { pathname } = Astro.url;
const currentLang = getLanguageFromURL(pathname);
const clinicName = currentLang === 'es' ? 'Dra. Eugenia Vila' : 'Dr. Eugenia Vila';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-xl md:text-lg font-bold text-primary dark:text-white whitespace-nowrap"
>
  {clinicName}
</span>
